/* #region base */
body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  background-color: #ffffff;
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  cursor: pointer;
  text-align: center;
  padding: 0;
  transition: 300ms ease-in;
}
.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.4;
  text-align: center;
}
.container {
  max-width: 1188px;
  padding: 0 12px;
  margin: 0 auto;
}
/* #endregion */

/* #region header */
.page-header {
  background: #ffeef4;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  padding: 11px 0;
  line-height: 0;
}
.logo-icon {
}
.nav-list {
  display: flex;
  white-space: nowrap;
  gap: 30px;
  margin-left: auto;
}
.nav-item {
}
.nav-link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #e85668;
  padding: 23px 0;
}
/* #endregion */

/* #region hero */
.hero {
  padding: 136px 0 214px;
  max-width: 1440px;
  background-image: url(../images/01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.4;
  color: #fff;
  max-width: 768px;
  margin-bottom: 56px;
}

.hero-text {
  font-size: 24px;
  line-height: 1.6;
  color: #fff;
  max-width: 576px;
  margin-bottom: 56px;
}

.hero-button {
  color: #fff;
  background-color: transparent;
  display: block;
  border: 1px solid #fff;
  border-radius: 57px;
  min-width: 300px;
  min-height: 60px;
  padding: 16px 23px;
}

.hero-button:hover,
.hero-button:focus {
  color: #e85668;
  border: 1px solid #fff;
  background: #fff;
}

.hero-button:active {
  color: #e85668;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.5);
}
/* #endregion */

/* #region aboutus */
.aboutus-content {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 120px 0;
}

.aboutus-container {
  width: 482px;
  height: 600px;
  background-color: #e85668;
  padding: 53px 47px 0;
}

.aboutus {
  color: #fff;
  text-align: left;
  position: relative;
  display: inline-block;
  padding-bottom: 24px;
  margin-bottom: 45px;
}

.aboutus::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 112px;
  height: 6px;
  background-color: #ffffff;
}

.aboutus-text {
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
}
/* #endregion */

/* #region advantages */
.advantages-section {
  padding: 120px 0 181px;
  background-color: rgba(232, 86, 104, 0.05);
}

.advantages {
  color: #e85668;
  margin-bottom: 62px;
}

.advantages-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.advantages-item {
  width: 315px;
}

.icon-advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 53px;
}

.advantages-content {
}

.advantages-subtitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.4;
  text-align: center;
  color: #e85668;
  margin-bottom: 53px;
}

.advantages-text {
  line-height: 1.4;
  text-align: center;
  color: #000;
}
/* #endregion */

/* #region catalogs */
.catalogs-section {
  padding: 120px 0 0;
}

.catalogs {
  color: #000;
  margin-bottom: 62px;
}

.catalogs-list {
  display: flex;
  gap: 24px;
}

.catalogs-item {
  flex-basis: calc((100% - 72px) / 4);
}

.catalogs-content {
  padding-top: 20px;
}

.catalogs-text {
  font-size: 24px;
  line-height: 1.6;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}

.catalogs-button {
  display: block;
  border-radius: 50px;
  border: none;
  min-width: 164px;
  min-height: 48px;
  color: #fff;
  background: #e85668;
  padding: 10px 30px;
  margin: 0 auto 141px;
}

.catalogs-button:hover,
.catalogs-button:focus {
  color: #e85668;
  border: 2px solid #e85668;
  background: transparent;
}

.catalogs-button:active {
  color: #e85668;
  border: 2px solid #e85668;
  background: #fef7f7;
}
/* #endregion */

/* #region gallery */
.gallery-section {
  padding: 129px 0 176px;
}

.gallery {
  color: #000;
  margin-bottom: 32px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 26px;
  row-gap: 24px;
}

.gallery-item {
  width: calc((100% - 78px) / 4);
}
/* #endregion */

/* #region footer */
.footer-container {
  display: flex;
  background-color: #e85668;
}

.container-contacts {
  padding: 120px 0 180px 110px;
}

.contacts {
  text-align: left;
  color: #fff;
  margin-bottom: 62px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contacts-item {
  display: inline-flex;
  align-items: center;
  gap: 14px;
}
.telefon {
  width: 169px;
}

.icon-footer {
}

.contacts-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 2;
  color: #fff;
}
/* #endregion */

/* #region modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 651px;
  min-height: 706px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02), 0 7px 5px 0 rgba(0, 0, 0, 0.03),
    0 13px 10px 0 rgba(0, 0, 0, 0.04), 0 22px 18px 0 rgba(0, 0, 0, 0.04),
    0 42px 33px 0 rgba(0, 0, 0, 0.05), 0 100px 80px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  padding: 60px 84px 73px 85px;
}
.modal-text {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.4;
  text-align: center;
  color: #000;
  margin-bottom: 79px;
}
.modal-form {
  max-width: 400px;
  margin: 0 auto;
}
.modal-wrapper-one {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 28px;
}
.modal-wrapper-two {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 105px;
}
.modal-label {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
  color: #000;
  margin-left: 30px;
}
.modal-input {
  border: 1px solid #e85668;
  border-radius: 93px;
  padding: 10px 30px;
  width: 400px;
  height: 61px;
  background-color: rgba(232, 86, 104, 0.05);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input::placeholder {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.1);
}
.modal-button {
  border-radius: 50px;
  cursor: pointer;
  display: block;
  border: 1px solid #e85668;
  padding: 15px 50px;
  width: 223px;
  height: 58px;
  background-color: #e85668;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
/* #endregion */
